In [79]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        if(a>b):
            return b
        else:return a
    else:
            if(a>b):
                return a
            else:return b

In [81]:
lesser_of_two_evens(4,6)

4

In [83]:
lesser_of_two_evens(2,5)

5

In [97]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
#animal_crackers('Levelheaded Llama') --> True
#animal_crackers('Crazy Kangaroo') --> False
def animal_crackers(text):
    result=text.split()
    a=[]
    for ch in result:
        a.append(ch[0])
    if(a[0]==a[1]):
        return True
    else :
        return False
animal_crackers('hi ello')

False

In [101]:
animal_crackers('my mame')

True

In [103]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
#makes_twenty(2,3) --> False
def makes_twenty(n1,n2):
    if(n1+n2==20 or n1==20 or n2==20):
        return True
    else :
        return False
makes_twenty(2,18)

True

In [105]:
makes_twenty(20,20)

True

In [107]:
makes_twenty(2,3)

False

In [125]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald
#Note: 'macdonald'.capitalize() returns 'Macdonald'
def old_macdonald(name):
    a=[]
    return name[0].upper()+name[1:3]+name[3].upper()+name[4:]
old_macdonald('macdonald')

'MacDonald'

In [127]:
name='bhuvan is my hero'
name[9:]

' my hero'

In [143]:
"""
MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"
"""
def master_yoda(text):
    result=text.split()
    rev=result[::-1]
    return ' '.join(rev)
master_yoda('bhuvan is a good boy')

'boy good a is bhuvan'

In [137]:
ex="my ex is'nt exist"
ex[::-1]

"tsixe tn'si xe ym"

In [165]:
"""
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
NOTE: abs(num) returns the absolute value of a number
"""
def almost_there(n):
    if abs(n-100)<=10 or abs(n-200)<=10:
        return True
    else:
        return False
almost_there(-159.797665589)

False

In [167]:
almost_there(210)

True

In [217]:
"""
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False
"""


def find_consecutive(ints):                     #checks same numbers consecutive
    count=0
    for  i in range(len(ints)-1):
        if ints[i]==ints[i+1]:
            count+=1
            return count>0
        else:
            return False
find_consecutive([7,0,7])

False

In [225]:
name='bhuvan'
range(len(name))

range(0, 6)

In [243]:
def find_33(ints):                              #checks the consecutive 3's
    for i in range (len(ints)-1):
        if ints[i]==3 and ints[i+1]==3:
            return True
        else:
            return False
find_33([3,0,3])

False

In [269]:
"""
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
"""
def threex_word(text):
    a=''
    for i in range(len(text)):
        a+=text[i]
        a+=text[i]
        a+=text[i]
    return a
threex_word('mississippi')

'mmmiiissssssiiissssssiiippppppiii'

In [265]:
"""
BLACKJACK: Given three integers between 1 and 11, if their sum is less than 
or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven,
reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19
"""
def blackjack(a,b,c):
    if sum((a,b,c))<=21:
        return a+b+c
    elif a==11 or b==11 or c==11:
        if a+b+c>=21:
            c=a+b+c-10
            if c>21:
                return 'BUST'
            else:
                return c
    else:
        return 'BUST'
blackjack(9,9,11)

19

In [291]:
"""
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting 
with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14
"""
def summer_69(arr):
    result=0
    temp=True
    for i in arr:
        if temp==True and i!=6:
            result+=i
        elif i==6:
            temp=False
        elif i==9 and temp==False:
            temp=True
            continue
    return result
summer_69([1,3,5])

9

In [293]:
summer_69([4,5,6,7,8,9])

9

In [295]:
summer_69([2,1,6,9,11])

14

In [1]:
"""
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False
"""
def spy_games(nums):
    for i in range(len(nums)-2):
        if nums[i]==0 and nums[i+1]==0 and nums[i+2]==7:
            return True
    return False
spy_games([6,2,0,79,0,0,7])

True

In [3]:
num=[6,2,0,79,0,0,7]
range(len(num)-2)

range(0, 5)

In [4]:
num=range(0,100)