In [17]:
#python debigging with pdb
x=[12,12,12]
y=4
result=x+y

TypeError: can only concatenate list (not "int") to list

In [2]:
import pdb

In [18]:
x=[12,12,12]
y=4
pdb.set_trace()
result=x+y

> /var/folders/8s/4n8zy8l93fg_z6316zp2pzm40000gn/T/ipykernel_2460/700600208.py(3)<module>()
      1 x=[12,12,12]
      2 y=4
----> 3 pdb.set_trace()
      4 result=x+y

In [6]:
pdb.run('result=x+y')

> <string>(1)<module>()

[12, 12, 12]
4
*** TypeError: can only concatenate list (not "int") to list

Regular expressions

In [7]:
import re

In [9]:
text='Hi my name is Bhuvan and his name is Troy'
pattern='name'
match=re.search(pattern, text)

In [10]:
match.span()

(6, 10)

In [11]:
match.start()

6

In [13]:
re.findall(pattern, text)

['name', 'name']

In [16]:
for match in re.finditer(pattern, text)  :
    print(match.span())

(6, 10)
(29, 33)

In [19]:
phone_no='My ph no is 123-456-7890'
match=re.search(r'\d\d\d-\d\d\d-\d\d\d\d', phone_no)

In [21]:
match.group()

'123-456-7890'

In [32]:
match=re.search(r'\d{3}-\d{3}-\d{4}', phone_no)

In [33]:
match.group()

'123-456-7890'

In [39]:
phone_pattern=re.compile(r'(\d{3})-(\d{3})-(\d{4})')
match=phone_pattern.search(phone_no)

In [38]:
match.group(1)

'123'

Additional Regex syntax

In [53]:
my_str=re.findall(r'\w{3}|\w{3}', 'The cat is here')

In [55]:
my_str

['The', 'cat', 'her']

In [128]:
rhy='cat sat mat pat'
re.findall('.at',rhy)

['cat', 'sat', 'mat', 'pat']

In [131]:
b=re.search('.at',rhy)
b.group()

'cat'

In [124]:
b.span()

(0, 3)

In [157]:
phrase='there are 3 numbers 34 inside 5 this sentence'
pattern=r'[^\d]+'
re.findall(pattern, phrase)

['there are ', ' numbers ', ' inside ', ' this sentence']

In [160]:
pattern=r'[^i]+'
re.findall(pattern, phrase)

['there are 3 numbers 34 ', 'ns', 'de 5 th', 's sentence']

Timing in the code

In [170]:
import time

In [171]:
def func(n):
    return [str(num) for num in range(10)]

In [172]:
def func2(n):
    return list(map(str,range(n)))

In [173]:
func(10)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [179]:
#initial time before the function call
ini_time=time.time()
#call the function
func2(500)
#time after running the function
fin_time=time.time()
#total time taken
print('Time taken for function 1 is:', fin_time-ini_time)

Time taken for function 1 is: 0.0002932548522949219

In [180]:
#initial time before the function call
ini_time=time.time()
#call the function
func2(500)
#time after running the function
fin_time=time.time()
#total time taken
print('Time taken for function 2 is:', fin_time-ini_time)

Time taken for function 2 is: 0.0001327991485595703

In [185]:
a=time.time()
print('hello')
b=time.time()
c=b-a
print(c)

hello
0.0007431507110595703

In [186]:
import timeit

In [187]:
stmt='''  
func(100)
'''

In [188]:
setup='''
def func(n):
    return [str(num) for num in range(n)]
'''

In [191]:
timeit.timeit(stmt,setup,number=1213454)

5.735977416999958

In [193]:
stmt2='''
func2(100)
'''
setup2=''' 
def func2(n):
    return list(map(str,range(n)))
'''
timeit.timeit(stmt2,setup2,number=1213454)

5.482412082999872

In [196]:
%%timeit
func(100)

552 ns ± 12.7 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [197]:
%%timeit
func2(100)

4.49 μs ± 64.7 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)